@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #eeeef7;
  --foreground: #171717;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #eeeef7;
    --foreground: black;
  }
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* input::placeholder {
  color: black;
} */